@import "compass";
@include global-reset;

@import "custom/colors";
@import "custom/fonts";
@import "custom/layout";
@import "base";
@import "partials";
@import "plugins/**/*";
@import "custom/styles";
.postrevision {
    list-style: none;
    border: none;
    padding: 0.6em 1.25em 0.6em 1.25em;
    margin-top: 0.25em;
    margin-bottom: 0.8em;
    margin-left: 0;
    font-style: normal;
    font-size: 1em;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    background-color: #D3D3D3
}
.postrevision:before {
    content: "最近修改记录";
    font-weight: bold;
    font-size: 1.2em;
    font-family: "Verdana", "STXihei", "华文细黑", "STHeitiSC", "华文黑体", "Microsoft YaHei", "Optima", sans-serif;
    line-height: 2em
}