{% if site.twitter_follow_button or site.twitter_tweet_button %}
  <script type="text/javascript">
    // (function(){
    //   var twitterWidgets = document.createElement('script');
    //   twitterWidgets.type = 'text/javascript';
    //   twitterWidgets.async = true;
    //   twitterWidgets.src = '//platform.twitter.com/widgets.js';
    //   document.getElementsByTagName('head')[0].appendChild(twitterWidgets);
    // })();
  </script>
  <script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?1aaafec293bd8666e75fec0c90a223a7";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
  </script>
{% endif %}
